@import "../../../styles/colorsConfig";
@import "../../../styles/mixins";

div.select_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;

  & > span.input_line {
    font-size: 15px;
    color: $primary-white;
    margin: 10px 0;
  }
  & > div {
    color: $primary-green;

    & > svg.MuiSelect-icon {
      color: $primary-green;
    }
  }
}
