@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.game_ratio_wrapper {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

  & > p {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: $primary-grey;
    margin: 5px;
  }

  & > div.radio_head_line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: thin solid $primary-white;
    padding: 15px;

    & > label {
      color: $primary-white;
      width: 55%;

      & > span {
        font-size: 15px;
      }
    }
  }

  & > div.amount_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px;
  }

  & > div.ratio_cards_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    & > p {
      width: 100%;
      margin: 0;
      color: $primary-gold;
      font-size: 20px;
    }
  }
}
