@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.profile_wrapper {
  width: 100%;
  padding: 20vh 20px 10vh 20px;
  overflow: auto;

  & > div {
    font-size: 25px;
    color: $primary-gold;
  }
}


