//Global Colors variables

//primary colors
  $primary-black: #020403;
  $primary-gold: #bc9a36;
  $primary-white: #ffffff;
  $primary-grey: #959595;
  $primary-purple: #BB86FC;
  $primary-green: #03DAC5;
  $primary-blue: #3700B3;
  $primary-pink: #CF6679;
  $primary-background: #282c34;
  //$primary-black: #172026;
  $alert-color: #fb4444;

