@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.summary_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $primary-white;

  & > div.table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    & > div.table_head, div.table_total {
      width: 100%;
      display: flex;
      color: $primary-white;
      font-size: 12px;

      & > span {
        display: flex;
        align-items: center;
        justify-content: center;
        border: thin solid $primary-white;
        color: $primary-white;
        width: 100%;
        padding: 5px;
        background-color: $primary-gold;
        margin: 7px 2px;
        border-radius: 15px;
      }
    }

    & > div.player_line {
      width: 100%;
      display: flex;
      color: $primary-white;

      & > span {
        display: flex;
        border: thin solid $primary-white;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 5px;
        font-size: 12px;
        margin: 5px 2px;
        border-radius: 15px;
        background-color: $primary-background;
      }

      & > span.balance {
        color: $primary-green;
      }
      & > span.negative {
        color: $alert-color;
      }
      & > span.cash_out {
        border: thin solid $alert-color;
      }
    }
    & > p {
      font-size: 15px;
      color: $primary-pink;
      margin-top: 35px;
    }
    & > span {
      width: 100%;
      font-size: 12px;
    }
  }


}
