@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.home {
  width: 100%;
  min-height: 100vh;
  padding: 12vh 20px 0 20px;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: thin solid $primary-purple;
}
