@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.header {
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: $primary-gold;
  position: fixed;
  top: 0;
  z-index: 1100;

  & > span {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    border-bottom: thin solid $primary-gold;
    background-color: $primary-background;
  }

  & > img {
    width: 45px;
    position: absolute;
    right: 20px;
    top: 10px;
  }
  & > img.monkey_logo {
    width: 65px;
    left: 20px;
  }

  & > div.live_game_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    background-color: $primary-background;
    border-top: thin solid $primary-gold;
    border-bottom: thin solid $primary-gold;

    & > div.game_nav {
      display: flex;
      width: 50%;

      & > a {
        text-decoration: none;

        & > button {
          font-size: 12px;
          color: $primary-white;
          padding: 0 10px;
        }
      }
      & > a:first-child {
        border-right: thin solid $primary-white;
      }
    }

    & > a {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & > span {
        font-size: 15px;
        color: $primary-green;
        font-weight: bold;
      }
      & > span.pulse {
        height: 10px;
        margin: 0 7px;
        width: 10px;
        position: relative;
        transition: 0.2s ease-in-out;

        &:before,
        &:after {
          animation: pulse-loader infinite 2s;
          box-shadow: 0 0 5px $primary-green;
          border-radius: 50%;
          border: 3px solid $primary-green;
          content: '';
          display: block;
          height: 100%;
          left: -#{3px};
          opacity: 0;
          position: absolute;
          top: -#{3px};
          width: 100%;
          @include respond-to('large') {
            box-shadow: 0 0 5px $primary-white;
            border: 3px solid $primary-white;
          }
        }
        &:after {
          animation-delay: 2s / 2;
        }
      }
    }


  }

  & > div.game_menu_nav_wrapper {
    display: flex;
    width: 100%;
    background-color: $primary-background;
    border-bottom: thin solid $primary-gold;
    position: relative;

    & > i {
      font-size: 25px;
      display: flex;
      padding: 5px 35px;
      position: absolute;
      right: 0;
    }

    & > div.game_menu {
      display: flex;
      width: 100%;
      padding: 5px 10px;

      & > a {
        text-decoration: none;

        & > button {
          font-size: 12px;
          color: $primary-white;
          padding: 0 10px;
        }
      }

      & > a:first-child {
        border-right: thin solid $primary-white;
      }
    }
  }
}

@keyframes pulse-loader {
  0% {
    opacity: 0;
    transform: scale(0)
  }
  60% {
    opacity: 1
  }
  100% {
    opacity: 0;
    transform: scale(1)
  }
}
