@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.header {
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: $primary-gold;
  position: fixed;
  top: 0;
  z-index: 1100;

  & > span {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    border-bottom: thin solid $primary-gold;
    background-color: $primary-background;
    z-index: 900;
  }

  & > img {
    width: 45px;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 1000;
  }
  & > img.monkey_logo {
    width: 65px;
    left: 20px;
    z-index: 1000;
  }

  & > div.live_game_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $primary-background;
    border-bottom: thin solid $primary-gold;
    z-index: 800;
    position: relative;
    padding: 5px 15px;

    & > span.nav_animation {
      height: 100%;
      position: absolute;
      left: 0;
      animation: live-animation 2s linear infinite;
      border-radius: 0 2px 2px 0;
      background: linear-gradient(75deg,
              rgba($primary-green, 0.7),
              rgba($primary-green, 0.5),
              rgba($primary-green, 0.3),
              rgba($primary-white, 0.5),
              rgba($primary-white, 0.2));
    }

    & > div.game_nav {
      display: flex;
      width: 50%;

      & > a {
        //text-decoration: none;

        & > button {
          font-size: 12px;
          color: $primary-white;
          padding: 0 10px;
        }
      }
      & > a:first-child {
        border-right: thin solid $primary-white;
      }
    }

    & > a {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & > span {
        font-size: 15px;
        color: $primary-gold;
        font-weight: bold;
      }
      & > span.pulse {
        height: 7px;
        margin: 0 7px;
        width: 7px;
        position: relative;
        transition: 0.2s ease-in-out;

        &:before,
        &:after {
          animation: pulse-loader infinite 2s;
          box-shadow: 0 0 5px $primary-green;
          border-radius: 50%;
          border: 3px solid $primary-green;
          content: '';
          display: block;
          height: 100%;
          left: -#{3px};
          opacity: 0;
          position: absolute;
          top: -#{3px};
          width: 100%;
          @include respond-to('large') {
            box-shadow: 0 0 5px $primary-white;
            border: 3px solid $primary-white;
          }
        }
        &:after {
          animation-delay: 2s / 2;
        }
      }
    }
  }

  & > div.game_menu_nav_wrapper {
    display: flex;
    width: 100%;
    position: relative;

    & > i {
      font-size: 25px;
      display: flex;
      padding: 5px;
      position: absolute;
      left: 0;
      z-index: 1100;
      transition: 0.5s ease-in-out;
    }

    & > i.icon_rotate {
      animation: menu-icon-animation 2.2s ease-in both;
      color: $primary-white;
    }

    & > div.game_menu {
      display: flex;
      width: 100%;
      padding: 5px 15px;
      border-bottom: thin solid $primary-gold;
      background-color: $primary-background;

      & > a {
        text-decoration: none;

        & > button {
          font-size: 12px;
          color: $primary-white;
          padding: 0 10px;
        }
      }

      & > a:first-child {
        border-right: thin solid $primary-white;
      }
    }
  }
}

@keyframes pulse-loader {
  0% {
    opacity: 0;
    transform: scale(0)
  }
  60% {
    opacity: 1
  }
  100% {
    opacity: 0;
    transform: scale(1)
  }
}

@keyframes live-animation {
  0% {
    width: 5px;
  }
  100% {
    width: 100%;
  }
}

@keyframes menu-icon-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
