@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.update_player_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $primary-white;

  & > p {
    width: 100%;
  }

  & > div.player_update {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    & > div {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 10px 0;

      & > button {
        border: thin solid $primary-purple;
        width: 55%;
        color: $primary-white;
      }
    }
  }
}
