@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.game_page_wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 15vh 20px;
  background-color: $primary-background;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: thin solid $primary-purple;

  & > div.game_page_nav {
    width: 100%;
    margin-bottom: 30px;

    & > div {
      width: 90%;

      & > button {
        width: 50%;
        color: $primary-background;
        font-weight: bold;
        font-size: 12px;
      }
      & > button.selected {
        background-color: $primary-green;
      }
      & > button.disabled {
        background-color: $primary-grey;
      }
    }
  }
}


