@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.game_page_wrapper {
  width: 100%;
  padding: 20vh 20px 10vh 20px;
  overflow: auto;

  //& > div.game_page_nav {
  //  width: 100%;
  //  margin-bottom: 30px;
  //
  //  & > div {
  //    width: 90%;
  //
  //    & > button {
  //      width: 50%;
  //      color: $primary-background;
  //      font-weight: bold;
  //      font-size: 12px;
  //    }
  //    & > button.selected {
  //      background-color: $primary-green;
  //    }
  //    & > button.disabled {
  //      background-color: $primary-grey;
  //    }
  //  }
  //}
}


