@import "./styles/colorsConfig";

div.App {
  text-align: center;
  display: flex;
  height: 100vh;
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-image: url("./assets/img/poker-back1.jpg");
  background-size: 100% 100%;
  border-bottom: thin solid $primary-gold;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
